{% extends 'base.html' %}
{% load static %}

{%block titulo%}{{empregado.nome}} {{empregado.sobrenome}}|{%endblock%}

{% block 'content' %}
<div class="container col d-flex justify-content-center">
  <div class="card text-center text-white gradient shadow-lg" style="width: 18rem;">
    <div class="justify-content-center m-2 mt-4">
      {% if empregado.foto %}
        <img width="150" height="150" src="{{empregado.foto.url}}" class="rounded-circle">
      {% else %}
        <img width="150" height="150" src="{% static 'images/profile.png' %}" class="card-img-top">
      {% endif %}
    </div>
    <div class="card-body">
      <h1>{{empregado.nome}} {{empregado.sobrenome}}</h1>
      <dl>
        <dt>ID</dt>
        <dd>{{empregado.id}}</dd>
    
        <dt>Telefone</dt>
        <dd>{{empregado.telefone}}</dd>
    
        <dt>E-mail</dt>
        <dd>{{empregado.email}}</dd>
    
        <dt>Aniversário</dt>
        <dd>{{empregado.aniversario|date:'d/m/Y'}}</dd>
    
        <dt>Departamento</dt>
        <dd>{{empregado.departamento}}</dd>
    
        <dt>Descrição</dt>
        <dd>
        {{empregado.descricao}}
        </dd>
      </dl>
    </div>
  </div>
</div>
{% endblock %}