{% extends 'base.html' %}
{% load static %}

{%block titulo%}Empregados{%endblock%}

{% block 'content' %}
  {% include 'partial/_nav.html' %}

  <div class="container">
    {% include 'partial/_messages.html' %}
    <h1 class="mt-5">Empregados</h1>

    <form action="{% url 'busca' %}" class="mt-5">
      <div class="input-group mb-3">
        <input type="text" name="busca" class="form-control" placeholder="Pesquisar" value="{{ request.GET.busca }}">
        <div class="input-group-append">
          <button class="input-group-text btn btn-lg gradient btn-block text-white">Buscar</button>
        </div>
      </div>
    </form>

    <table class="table">
    <thead>
        <tr>
        <th>ID</th>
        <th>Foto</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Telefone</th>
        <th>Aniversário</th>
        <th>Departamento</th>
        </tr>
    </thead>
    <tbody>
        {% for empregado in empregados %}
          <tr>
              <td>{{empregado.id}}</td>
              <td>
                {% if empregado.foto %}
                  <img width="25" height="25" src="{{empregado.foto.url}}" class="rounded-circle">
                {% else %}
                  <img width="25" height="25" src="{% static 'images/profile.png' %}">
                {% endif %}
              </td>
              <td><a href="{% url 'empregado' empregado.id %}"> {{empregado.nome}}</a></td>
              <td>{{empregado.sobrenome}}</td>
              <td>{{empregado.telefone}}</td>
              <td>{{empregado.aniversario|date:'d/m/Y'}}</td>
              <td>{{empregado.departamento}}</td>
          </tr>
        {% endfor %}
    </tbody>
    </table>
    <nav class="pull-right">
        <ul class="pagination">
          {% for pagina in empregados.paginator.page_range %}
            {% if empregados.number == pagina %}
              <li class="page-item active"><a class="page-link bg-danger" href="?p={{pagina}}&busca={{request.GET.busca}}&total={{request.GET.total}}">{{pagina}}</a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?p={{pagina}}&busca={{request.GET.busca}}&total={{request.GET.total}}">{{pagina}}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
    </nav>
  </div>
{% endblock %}