{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <title>{%block titulo%}{%endblock%}</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon.ico' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   </head>
   <body>
      
         <div class="row">
            <div class="col-12 mt-3">
               {% block 'content' %}
               {% endblock %}
            </div>
         </div>
  
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script src="{% static 'js/script.js' %}"></script>
	</body>
</html>
