{% extends 'base.html' %}
{% load static %}

{% block 'content' %}

    <h1 class="mt-5">Minha agenda</h1>

    <form action="{% url 'busca' %}" class="mt-5">
      <div class="input-group mb-3">
        <input type="text" name="busca" class="form-control" placeholder="Pesquisar" value="{{ request.GET.busca }}">
        <div class="input-group-append">
          <button class="input-group-text bg-primary text-white">Buscar</button>
        </div>
      </div>
    </form>

    <table class="table">
    <thead>
        <tr>
        <th>ID</th>
        <th>Foto</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Telefone</th>
        <th>Categoria</th>
        </tr>
    </thead>
    <tbody>
        {% for contato in contatos %}
          <tr>
              <td>{{contato.id}}</td>
              <td>
                {% if contato.foto %}
                  <img width="25" height="25" src="{{contato.foto.url}}" class="rounded-circle">
                {% else %}
                  <img width="25" height="25" src="{% static 'images/profile.png' %}">
                {% endif %}
              </td>
              <td><a href="{% url 'contato' contato.id %}"> {{contato.nome}}</a></td>
              <td>{{contato.sobrenome}}</td>
              <td>{{contato.telefone}}</td>
              <td>{{contato.categoria}}</td>
          </tr>
        {% endfor %}
    </tbody>
    </table>
    <nav>
        <ul class="pagination">
          {% for pagina in contatos.paginator.page_range %}
            {% if contatos.number == pagina %}
              <li class="page-item active"><a class="page-link" href="?p={{pagina}}&busca={{request.GET.busca}}&total={{request.GET.total}}">{{pagina}}</a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?p={{pagina}}&busca={{request.GET.busca}}&total={{request.GET.total}}">{{pagina}}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
    </nav>
{% endblock %}